
      <div class="info"><img src="http://placehold.it/200x600/aaaaaa&text=[Info]"/>
        <div style="padding:10px"></div>
      </div>

      <div ondrop="drop(event)" ondragover="allowDrop(event)" class="battlefield">
        <div id="battlefield" style="padding:10px"><img src="http://placehold.it/1500x600&text=[Battlefield]"/></div>
      </div>

      <div class="chat">
        <div style="padding:10px"><img src="http://placehold.it/200x600/aaaaaa&text=[Chat]"/></div>
      </div>

      <div class="discard">
        <div style="padding:10px"><img src="http://placehold.it/200x300/cccccc&text=[Disacrd]"/></div>
      </div>

      <div class="hand">
        <div id="hand" style="padding:10px"><img src="http://placehold.it/1500x300/eeeeee&text=[Hand]"/></div>
      </div>

      <div class="deck">
        <div style="padding:10px"><img id="draw-deck" src="http://placehold.it/200x300/cccccc&text=[Deck]"/></div>
      </div>
