<table>
  <tr>
    <td>
      <div style="position:relative" class="info"><img src="http://placehold.it/200x600/aaaaaa&amp;text=[Info]"/>
        <div style="position:absolute; padding:10px"></div>
      </div>
    </td>
    <td>
      <div style="position:relative" ondrop="drop(event)" ondragover="allowDrop(event)" class="battlefield">
        <div id="battlefield" style="position:absolute; padding:10px"><img src="http://placehold.it/1500x600&amp;text=[Battlefield]"/></div>
      </div>
    </td>
    <td>
      <div style="position:relative" class="chat">
        <div style="position:absolute; padding:10px"><img src="http://placehold.it/200x600/aaaaaa&amp;text=[Chat]"/></div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="position:relative" class="discard">
        <div style="position:absolute; padding:10px"><img src="http://placehold.it/200x300/cccccc&amp;text=[Disacrd]"/></div>
      </div>
    </td>
    <td>
      <div style="position:relative" class="hand">
        <div id="hand" style="position:absolute; padding:10px"><img src="http://placehold.it/1500x300/eeeeee&amp;text=[Hand]"/></div>
      </div>
    </td>
    <td>
      <div style="position:relative" class="deck">
        <div style="position:absolute; padding:10px"><img id="draw-deck" src="http://placehold.it/200x300/cccccc&amp;text=[Deck]"/></div>
      </div>
    </td>
  </tr>
</table>